@import "components/main-todo.scss";
@import "login.scss";

body, head {
  direction: rtl;
  text-align: right;
  margin: 0;
}

ul, ol {
  list-style: none;
}

.menu {
  height: 30px;
  line-height: 30px;
  width: 400px;
  padding: 0 10px;
  color: red;
  font-size: 12px;
  border-bottom: 1px solid;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    color: crimson;
  }
}

.btn {
  //
}
