<div class="menu">
  {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>שלום, {{currentUser.user.name}}</a>
  {{else}}
    לא מחובר
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>

