{{!--outlet--}}

<div class="head">
  <span class="title">משימות</span>
  <i class="plus">+</i>
</div>

<div class="list">
  {{#each this.model as |person|}}
    <div class="list-item">
      <span class="done">[]</span>
      <span class="title">{{person.name}}</span>
      <span class="remove"
            onclick={{action "remove"}}>
        X
      </span>
    </div>
  {{/each}}

</div>